// Vars
$back: #121212;
$back-darker: #0C0C0C;
$back-light: #202630;
$fore: #FFFFFF;
$primary: #F30342;
$secondary: #E2E2E2;


* {
  all: unset;
  font-family: SpaceMono Nerd Font, FantasqueSansMNerdFont, sans-serif;
}

.bar {
  background-color: $back;
  color: $fore;

  font-size: 1.1em; //16px;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

tooltip.background {
  background-color: $back;
  font-size: 1.1em;
  border-radius: 10px;
}

tooltip.label {
  margin: 6px;
}

.left {
  .workspaces {
    margin-left: 2em;

    .occupied {
      color: $secondary;
      background-color: $back;

      &:hover {
        transition: 200ms linear background-color;

        background-color: $fore;
        color: $back;
      }
    }

    .empty {
      color: $secondary;
      background-color: $back;

      &:hover {
        transition: 200ms linear background-color;

        background-color: $fore;
        color: $back;
      }
    }

    .current {
      color: $primary;
      background-color: $back;

      &:hover {
        transition: 200ms linear background-color;

        background-color: $fore;
        color: $back;
      }
    }

    .workspace-entry {
      padding: 0.2em 0.4em 0.2em 0.4em;
      border-radius: 0.2em;
    }
  }
}

.center {
  .music {
    color: $secondary;

    .cover {
      margin-right: 0.5em;
      border-radius: 50%;
    }
  }
}

.right {
  margin-right: 2em;

  .nightsaver {
    margin-right: 1em;

    .nightsaver-on {
      color: $primary;
      margin: 0px 10px 0px 10px;
    }

    .nightsaver-off {
      color: $secondary;
      margin: 0px 10px 0px 10px;
    }


    slider {
      all: unset;
    }

    scale trough highlight {
      all: unset;
      background-color: $secondary;
      border-radius: 10px;
    }

    scale trough {
      all: unset;
      background-color: $back-darker;
      min-width: 80px;
      min-height: 5px;
    }
  }

  .volume {
    margin-right: 2em;

    .volume-sink {
      margin-right: 1em;

      .volume-sink-icon {
        color: $primary;
        font-size: 20;
        margin: 0px 20px 0px 10px;
      }

      slider {
        all: unset;
      }

      scale trough highlight {
        all: unset;
        background-color: $secondary;
        border-radius: 10px;
      }

      scale trough {
        all: unset;
        background-color: $back-darker;
        min-width: 80px;
        min-height: 5px;
      }
    }

    .volume-source {
      .volume-source-icon {
        color: $primary;
        font-size: 20;
        margin: 0px 10px 0px 10px;
      }

      slider {
        all: unset;
      }

      scale trough highlight {
        all: unset;
        background-color: $secondary;
        border-radius: 10px;
      }

      scale trough {
        all: unset;
        background-color: $back-darker;
        min-width: 80px;
        min-height: 5px;
      }
    }


  }

  .systemstats {
    margin-right: 2em;

    .cpu {
      margin: 2px .3em 2px .3em;

      .cpu-circ {
        color: $primary;
        background-color: $back-darker;
        border-radius: 10px;

        .icon-cpu {
          color: $primary;
          font-size: 12;
          font-weight: bold;
          margin: 8px 10px 8px 10px;
        }
      }
    }

    .memory {
      margin: 2px .3em 2px .3em;

      .memory-circ {
        color: $primary;
        background-color: $back-darker;
        border-radius: 10px;

        .icon-mem {
          color: $primary;
          font-size: 12;
          font-weight: bold;
          margin: 8px 10px 8px 10px;
        }
      }
    }

    .battery {
      margin: 2px .3em 2px .3em;

      .battery-circ {
        color: $primary;
        background-color: $back-darker;
        border-radius: 10px;

        .icon-battery {
          color: $primary;
          font-size: 12;
          font-weight: bold;
          margin: 8px 10px 8px 10px;
        }
      }
    }
  }

  .date {
    color: $secondary;
  }
}

.music-widget {
  background-color: $back;
  border-radius: 30px;

  padding: 30px;

  .cover {
    margin-right: 30px;
  }

  .music {
    font-size: 16;
    color: $primary;
  }

  .album {
    color: #888888;
  }

  .artist {
    color: $secondary;
  }

  .previous,
  .play,
  .pause,
  .next {
    color: $primary;
    font-size: 24px;
  }

  .play,
  .pause {
    font-size: 24px;
    margin-right: 5px;
  }

  .bar {
    slider {
      all: unset;
    }

    scale trough highlight {
      all: unset;
      background-color: $primary;
      border-radius: 10px;
    }

    scale trough {
      all: unset;
      background-color: $back-darker;
      min-width: 250px;
      min-height: 5px;
    }
  }
}
