// Vars
$back: #1C1C1C;
$back-darker: #0C0C0C;
$back-light: #202630;
$fore: #FFFFFF;
$pink: #FD98B9;
$orange: #ECC48D;
$green: #7FDBCA;
$blue: #9FD4FF;


* {
    all: unset;
    font-family: Lexend, sans-serif;
}

.bar {
    background-color: $back;
    color: $fore;

    font-size: 1.1em;//16px;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

tooltip.background {
    background-color: $back;
    font-size: 1.1em;
    border-radius: 10px;
}

tooltip.label {
    margin: 6px;
}

.left {
    .workspaces {
        margin-left: 2em;

        .occupied {
            color: $orange;
            background-color: $back;

            &:hover {
                transition: 200ms linear background-color;

                background-color: $fore;
                color: $back;
            }
        }

        .empty {
            color: $orange;
            background-color: $back;

            &:hover {
                transition: 200ms linear background-color;

                background-color: $fore;
                color: $back;
            }
        }

        .current {
            color: $pink;
            background-color: $back;

            &:hover {
                transition: 200ms linear background-color;

                background-color: $fore;
                color: $back;
            }
        }

        .workspace-entry {
            padding: 0.2em 0.4em 0.2em 0.4em;
            border-radius: 0.2em;
        }
    }
}

.center {
    .music {
        color: $pink;

        .cover {
            margin-right: 0.5em;
            border-radius: 50%;
        }
    }
}

.right {
    margin-right: 2em;

    .nightsaver {
        margin-right: 1em;

        .nightsaver-on {
            color: $orange;
            margin: 0px 10px 0px 10px;
        }

        .nightsaver-off {
            color: $blue;
            margin: 0px 10px 0px 10px;
        }


        slider {
            all: unset;
        }

        scale trough highlight {
            all: unset;
            background-color: $orange;
            border-radius: 10px;
        }

        scale trough {
            all: unset;
            background-color: $back-darker;
            min-width: 80px;
            min-height: 5px;
        }
    }

    .volume {
        margin-right: 2em;

        .volume-sink {
            margin-right: 1em;

            .volume-sink-icon {
                color: $pink;
                font-size: 28;
                margin: 0px 10px 0px 10px;
            }

            slider {
                all: unset;
            }

            scale trough highlight {
                all: unset;
                background-color: $orange;
                border-radius: 10px;
            }

            scale trough {
                all: unset;
                background-color: $back-darker;
                min-width: 80px;
                min-height: 5px;
            }
        }

        .volume-source {
            .volume-source-icon {
                color: $orange;
                font-size: 24;
                margin: 0px 10px 0px 10px;
            }

            slider {
                all: unset;
            }

            scale trough highlight {
                all: unset;
                background-color: $pink;
                border-radius: 10px;
            }

            scale trough {
                all: unset;
                background-color: $back-darker;
                min-width: 80px;
                min-height: 5px;
            }
        }


    }

    .systemstats {
        margin-right: 2em;

        .cpu {
            margin: 2px .3em 2px .3em;

            .cpu-circ {
                color: $orange;
                background-color: $back-darker;
                border-radius: 10px;

                .icon-cpu {
                    color: $orange;
                    font-size: 12;
                    font-weight: bold;
                    margin: 8px 10px 8px 10px;
                }
            }
        }

        .memory {
            margin: 2px .3em 2px .3em;

            .memory-circ {
                color: $pink;
                background-color: $back-darker;
                border-radius: 10px;

                .icon-mem {
                    color: $pink;
                    font-size: 12;
                    font-weight: bold;
                    margin: 8px 10px 8px 10px;
                }
            }
        }
    }

    .date {
        color: $orange;
    }
}

.music-widget {
    background-color: $back;
    border-radius: 30px;

    padding: 30px;

    .cover {
        margin-right: 30px;
    }

    .music {
        font-size: 16;
        color: $pink;
    }

    .album {
        color: #888888;
    }

    .artist {
        color: $orange;
    }

    .previous, .play, .pause, .next {
        color: $pink;
        font-size: 24px;
    }

    .play, .pause {
        font-size: 40px;
        margin-right: 5px;
    }

    .bar {

        slider {
            all: unset;
        }

        scale trough highlight {
            all: unset;
            background-color: $pink;
            border-radius: 10px;
        }

        scale trough {
            all: unset;
            background-color: $back-darker;
            min-width: 250px;
            min-height: 5px;
        }
    }
}
