* {
  font-family: "JetBrainsMono Nerd Font", "Inter", "IBM Plex Sans";
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: transparent;
}

#clock,
#backlight,
#battery,
#bluetooth,
#custom-brightness,
#custom-cpu,
#custom-disk,
#custom-gpu,
#custom-media,
#custom-memory,
#custom-power,
#network,
#privacy,
#temperature,
#tray,
#wireplumber,
#workspaces button {
  background-color: #000;
  border-radius: 10px;
  color: white;
  margin: 0rem 0.25rem;
  margin-top: 0.25em;
  padding: 0.25rem 0.8rem;
}

#workspaces button.active {
  color: black;
  background-color: lightgray;
}

#workspaces button.hover {
  color: black;
  background-color: lightgrey;
}
